<div class="w-screen lg:h-14 h-24 bg-blue-600 text-center text-white lg:pl-16 text-4xl ">DashBoard of Vehicle-Entry</div>
<div class="grid grid-cols-3 gap-4 lg:ml-60 text-center mt-28  ">
  <div class="grid-cols-1  bg-violet-300 h-44 rounded-full hover:hover:animate-bounce"><ul class="text-2xl text-green-600 "><li class="pt-5">IN</li><li class="pt-5">COUNT</li><li class="pt-5">10</li></ul></div>
  <div class="grid-cols-2  bg-pink-300 h-44 rounded-full hover:hover:animate-bounce"><ul class="text-2xl text-violet-600 hover:opacity-* "><li class="pt-5">OUT</li><li class="pt-5">COUNT</li><li class="pt-5">10</li></ul></div>
  <div class="grid-cols-3 bg-green-300 h-44 rounded-full hover:animate-bounce "><ul class="text-2xl text-pink-600"><li class="pt-5">TOTAL</li><li class="pt-5">COUNT</li><li class="pt-5">10</li></ul></div>
</div>